#menuCol {
    height: 100%;
    border: 1px solid red;
}

#mainAreaCol {
    height: 100%;
    border: 1px solid green;
}

#mainAreaLeftCol {
    height: 100%;
    border: 1px solid blue;
}

#mainAreaRightCol {
    height: 100%;
    border: 1px solid purple;
}