<div class="headers">
    <p>Id</p>
    <p class="name">Name</p>
    <p class="date">Created</p>
    <p class="date">Updated</p>
</div>
<div class="projects">
    <div *ngFor="let project of projects">
        <p>{{project.Id}}</p>
        <p class="name">{{project.Name}}</p>
        <p class="date">{{project.CreateDate | date:'dd/MM/yyyy'}}</p>
        <p class="date" *ngIf="project.UpdateDate != nullDate ">{{project.UpdateDate | date:'dd/MM/yyyy'}}</p>
        <p class="date" *ngIf="project.UpdateDate == nullDate ">Never</p>
    </div>
</div>